/* Setup */
/* Colours */
.tertiary-background-gradient {
  background-color: #535353;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #535353), color-stop(1, #171717));
  background-image: -webkit-linear-gradient(top left, #535353 0%, #171717 100%);
  background-image: linear-gradient(to bottom right, #535353 0%, #171717 100%);
  background-image: -ms-linear-gradient(top left, #535353 0%, #171717 100%); }

/* Heights */
/* Fonts section */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/helvetica_neue/Helvetica_Neue.ttf"); }

@font-face {
  font-family: "Bahnschrift";
  src: url("/assets/fonts/bahnschrift/Bahnschrift.ttf"); }

@font-face {
  font-family: "Geomanist";
  src: url("/assets/fonts/geomanist/geomanist.eot") format("embedded-opentype"), url("/assets/fonts/geomanist/geomanist.woff") format("woff"), url("/assets/fonts/geomanist/geomanist.ttf") format("truetype"), url("/assets/fonts/geomanist/geomanist.svg") format("svg"); }

/* https://scotch.io/tutorials/how-to-use-sass-mixins */
/* General stylings */
/* General section*/
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll; }

body {
  font-family: "Bahnschrift", sans-serif !important;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #222;
  background-size: cover;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1; }

body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible; }

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  font-family: "Helvetica Neue", sans-serif !important;
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
  pointer-events: none; }

p {
  font-family: "Bahnschrift", sans-serif !important;
  color: #222 !important;
  font-weight: 300 !important;
  font-size: 18px !important; }

a,
a:hover,
a:active {
  color: #42ea67;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  outline: none;
  text-decoration: none !important; }

.subtitle {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center; }

::-webkit-selection,
::-moz-selection,
::selection {
  background: #a9a9a9; }

.content-wrapper {
  flex: 1;
  padding-bottom: 2em; }

.parallax-window {
  min-height: 70vh;
  background: transparent;
  padding: 30px; }

.torn-page {
  background-image: url("/assets/images/paper-background-minimal.jpg");
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 2em; }

/* Unique page's stylings */
/* Homepage custom styles */
#homepage-hero {
  height: 100vh;
  background-image: url("/assets/images/homepage_splash_background.gif");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 1000px), screen and (max-height: 90vh) {
    #homepage-hero {
      background-image: url("/assets/images/homepage_splash_background_cropped.gif");
      background-position: center center; } }
#homepage-hero > .row {
  position: relative;
  top: 25%; }

#homepage-hero-text {
  padding-left: 10vw;
  color: #fff;
  animation: fadeInLeft;
  animation-duration: 2s; }
  @media screen and (max-width: 1000px), screen and (max-height: 90vh) {
    #homepage-hero-text {
      display: none; } }
#homepage-hero-text h3 {
  color: #42ea67; }

#homepage-hero-text h1 {
  font-size: 6vw; }

#homepage-hero-text p {
  color: #fff !important; }

.homepage-video {
  max-height: 70vh; }

/* Partials' stylings */
/*
    Pre-loader section
    Modified from: https://ihatetomatoes.net/create-custom-preloading-screen/
    Possible improvements:
        - https://codepen.io/kevinjannis/pen/KwJvpa
        - https://github.com/steelkiwi/SlidingSquareLoaderView
        - https://codepen.io/kenchen/pen/tgBiE
*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #171717; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out; }

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none; }

/* Nav section */
/*
https://blog.hubspot.com/website/bootstrap-navbar
https://colorlib.com/wp/template/website-menu-01/
https://preview.colorlib.com/theme/bootstrap/website-menu-01/#about-section
https://codepen.io/albizan/pen/mMWdWZ
*/
#navbar-main-wrapper .col-12 .col-md-10 .d-none .d-xl-block {
  padding-top: 10px !important;
  margin-bottom: -3px !important; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  font-family: "Geomanist"; }

.site-navbar .site-logo {
  position: relative;
  left: 0;
  font-size: 2em; }

.site-navbar .site-logo img {
  height: 1.5em !important;
  padding: 5px 0 0 0 !important;
  margin-top: -6px !important; }

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0; }

.site-navbar .site-navigation .site-menu .active {
  color: #42ea67;
  display: inline-block;
  padding: 20px 20px; }

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block; }

.site-navbar .site-navigation .site-menu > li {
  display: inline-block; }

.site-navbar .site-navigation .site-menu > li > a {
  padding: 20px 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none !important; }

.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #42ea67; }

.site-navbar .site-navigation .site-menu > li.social > a {
  padding-left: 5px;
  padding-right: 5px; }

.site-navbar .site-navigation .site-menu .has-children {
  position: relative; }

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px; }

.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e604";
  font-size: 1em;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "simple-line-icons"; }

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #fff;
  /*$link-color;*/
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s; }

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute; }

.site-navbar
.site-navigation
.site-menu
.has-children
.dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.site-navbar
.site-navigation
.site-menu
.has-children
.dropdown.arrow-top:before {
  border-color: #222;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px; }

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #171717; }

.site-navbar .site-navigation .site-menu .has-children .dropdown .active {
  color: #42ea67 !important; }

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 210px; }

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block; }

.site-navbar
.site-navigation
.site-menu
.has-children
.dropdown
> li
> a:hover {
  background: #eaeaea;
  color: #222; }

.site-navbar
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children
> a:before {
  content: "\e606";
  right: 20px; }

.site-navbar
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children
> .dropdown,
.site-navbar
.site-navigation
.site-menu
.has-children
.dropdown
> li.has-children
> ul {
  left: 100%;
  top: 0; }

.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #42ea67; }

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer; }

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px; }

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px; }

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 1.8em;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.js-menu-toggle {
  font-size: 18px !important;
  padding: 0 30px 10px 30px !important; }

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px; }

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase; }

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px; }

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none; }

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px; }

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #222; }

.site-mobile-menu .site-nav-wrap a:hover {
  color: #42ea67; }

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block; }

.site-mobile-menu .site-nav-wrap li .active {
  color: #42ea67; }

.site-mobile-menu .site-nav-wrap .social {
  display: inline-block; }

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%; }

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #eaeaea; }

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 0.75em;
  z-index: 20;
  font-family: "simple-line-icons";
  content: "\e604";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%; }

.site-mobile-menu .site-nav-wrap > li.social {
  float: none !important;
  width: auto !important; }

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 1.25em; }

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block; }

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 1em; }

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0; }

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block; }

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 1em;
  padding-left: 60px; }

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em; }

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto; }

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }

.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.sticky-wrapper .site-navbar {
  border-bottom: 2px solid #fff; }

.sticky-wrapper .site-navbar .site-menu-toggle {
  color: #fff;
  margin-bottom: -20px; }

.sticky-wrapper .site-navbar .site-logo a {
  color: #fff; }

.sticky-wrapper .site-navbar .site-menu > li > a {
  color: #fff !important;
  font-weight: 600; }

.sticky-wrapper .site-navbar .site-menu > li > a:hover,
.sticky-wrapper .site-navbar .site-menu > li > a.active {
  color: #fff !important; }

.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }

.sticky-wrapper.is-sticky .site-navbar .site-menu-toggle {
  color: #222; }

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #222; }

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
  color: #222 !important; }

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover,
.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
  color: #42ea67 !important; }

.fa-bars {
  font-size: 25px; }

/*
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f078";

  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f054";
*/
/* https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/ */
#sidebar {
  margin-right: -20px; }
  @media only screen and (max-width: 1000px) {
    #sidebar {
      display: none; } }
.toc-wrapper {
  position: sticky;
  top: 6rem;
  align-self: start;
  margin-left: 30px;
  padding-top: 30px;
  font-size: larger !important;
  overflow-y: auto; }

.row > #hugo-content {
  margin-left: 20px;
  margin-right: 20px; }

#sidebar-logo {
  text-align: center;
  padding-bottom: 30px; }

#sidebar-logo img {
  width: 20vh; }

#TableOfContents li.active > a {
  color: #42ea67;
  font-weight: 500; }

#TableOfContents a {
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  color: #222;
  transition: all 100ms ease-in-out; }

#TableOfContents ul {
  text-decoration: none;
  list-style-type: none; }

#TableOfContents ul ul {
  padding-left: 30px; }

/*
 * Accessibility section
 * https://github.com/brenonovelli/Accessibility-Settings-Bar
 * https://www.smashingmagazine.com/2015/12/making-accessibility-simpler/
 */
/*
 *   - https://allyjs.io/
 *   - Sliding accessibility panel:
 *       - https://www.cssscript.com/sliding-accessibility-settings-panel/
 *       - https://www.cssscript.com/demo/sliding-accessibility-settings-panel/
 *       - very nice
 *   - CSS modifiers to show unaccessible sections:
 *       - https://www.cssscript.com/page-accessibility-testing/
 *   - Hide inaccessible elements:
 *       - https://www.cssscript.com/hide-elements-accessibility-issues-hidden/
 */
#accessibilityBar {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
  position: fixed;
  top: calc(100% - 2rem);
  right: 0;
  transform: translate(100%, -50%);
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 0.5rem 0 0 0.5rem; }

#accessibilityBar * {
  box-sizing: border-box; }

#accessibilityBar.active {
  transform: translate(0, -90%);
  box-shadow: 0 5px 30px rgba(34, 34, 34, 0.75); }

#accessibilityBar button {
  outline: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  cursor: pointer; }

#accessibilityBar button#universalAccessBtn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  color: #fff;
  background-color: #535353;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-128%, -50%);
  cursor: pointer; }

#accessibilityBar button#universalAccessBtn span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  text-align: right;
  font-weight: bold;
  color: #fff;
  background-color: #535353;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  height: 100%;
  padding: 0 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%); }

#accessibilityBar button#universalAccessBtn.collapsed span {
  opacity: 0;
  right: 50%; }

#accessibilityBar button#universalAccessBtn:hover span {
  opacity: 1;
  right: 120%; }

#accessibilityBar button.setAccessibility {
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #222;
  font-weight: 700;
  background-color: #fff;
  width: 100%;
  padding: 0.1rem 0.2rem;
  border-radius: 0.25rem;
  border: none;
  display: flex;
  align-items: center;
  margin: 0.25rem; }

#accessibilityBar button.setAccessibility:hover {
  background-color: #fff; }

#accessibilityBar button.setAccessibility strong {
  color: #fff;
  background-color: #535353;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.25rem; }

body.contrast #accessibilityBar button[data-accessibility="contrast"] {
  background-color: #535353; }

body.accessibility_readingLine
#accessibilityBar
button[data-accessibility="readingLine"] {
  background-color: #535353;
  color: #fff !important; }

body.accessibility_readingLine #readingLine {
  background-color: #f20 !important;
  opacity: 1;
  width: 100vw;
  height: 0.5rem;
  position: absolute;
  left: 0;
  z-index: 9999;
  transform: translateY(0.5rem); }

body.contrast {
  color: #fff !important;
  background-image: none !important;
  background: #000 !important; }

body.contrast nav,
body.contrast li,
body.contrast ol,
body.contrast header,
body.contrast footer,
body.contrast section,
body.contrast main,
body.contrast aside,
body.contrast article {
  background-image: none !important;
  background: #000 !important;
  color: #fff !important; }

body.contrast h1,
body.contrast h2,
body.contrast h3,
body.contrast h4,
body.contrast h5,
body.contrast h6,
body.contrast p,
body.contrast label,
body.contrast strong,
body.contrast em,
body.contrast cite,
body.contrast q,
body.contrast i,
body.contrast b,
body.contrast u,
body.contrast span {
  color: #fff !important; }

body.contrast a {
  color: #ff0 !important; }

body.contrast a * {
  color: #ff0 !important; }

body.contrast button,
body.contrast input[type="button"],
body.contrast input[type="reset"],
body.contrast input[type="submit"] {
  background: #ff0 !important;
  background-image: none !important;
  color: #000 !important;
  font-weight: bold;
  border: none !important; }

body.contrast img {
  filter: grayscale(100%) contrast(120%); }

body.contrast input[type="text"],
body.contrast input[type="password"],
body.contrast input[type="url"],
body.contrast input[type="search"],
body.contrast input[type="email"],
body.contrast input[type="tel"],
body.contrast input[type="date"],
body.contrast input[type="month"],
body.contrast input[type="week"],
body.contrast input[type="datetime"],
body.contrast input[type="datetime-local"],
body.contrast textarea,
body.contrast input[type="number"] {
  background-image: none !important;
  background: #000 !important;
  border: 1px solid #fff !important;
  color: #fff !important; }

body.contrast #accessibilityBar * {
  background-image: none !important;
  background-color: #000 !important;
  color: #ff0 !important; }

body.contrast #accessibilityBar .setAccessibility {
  border: 1px solid !important; }

body.contrast
#accessibilityBar
.setAccessibility[data-accessibility="contrast"] {
  background-color: #ff0 !important;
  background-image: none !important;
  color: #000 !important; }

body.contrast .torn-page {
  background-image: none !important; }

/* Hero section */
#hero {
  min-height: 70vh;
  padding: 50px 0px 50px 0px;
  margin: 0px 0px 50px 0px;
  color: #fff;
  background: transparent;
  background-size: cover;
  background-attachment: fixed; }

#hero h1 {
  margin-top: 40vh;
  font-size: 6vw; }

/* Footer section */
#footer-info {
  padding: 25px; }

/* Sponsors */
#sponsor-logos {
  padding-bottom: 25px;
  text-align: center; }

#sponsor-logos img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

/* Social media icons
    - https://codepen.io/minimalmonkey/pen/Ecpla
*/
@media only screen and (max-width: 600px) {
  #contact-info {
    text-align: center; } }

.icon-button {
  background-color: white !important;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 5px 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3.6rem; }

.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0; }

.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem; }

.twitter span {
  background-color: #4099ff !important; }

.facebook span {
  background-color: #3b5998 !important; }

.instagram span {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !important; }

.email span {
  background-color: #3b5998 !important; }

.home span {
  background-color: #552d62 !important; }

.icon-button i {
  background: none;
  color: white !important;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3.6rem;
  z-index: 10; }

.icon-button .fa-twitter {
  color: #4099ff !important; }

.icon-button .fa-facebook {
  color: #3b5998 !important; }

.icon-button .fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.icon-button .fa-envelope {
  color: #3b5998 !important; }

.icon-button .fa-home {
  color: #552d62 !important; }

.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-envelope,
.icon-button:hover .fa-home {
  color: white !important;
  background: initial;
  -webkit-text-fill-color: white !important; }

/* Footer navigation */
#footer-navigation h3 {
  color: #fff;
  font-size: 1.15em;
  padding-bottom: 0.25em; }

#footer-navigation li {
  list-style: none;
  text-decoration: none; }

#footer-navigation a {
  color: #b3b3b3;
  font-size: 0.75em; }

#footer-navigation .col {
  margin-bottom: 20px; }

/* Licensing */
#licensing {
  margin-top: -15px;
  font-size: 0.8em;
  flex-shrink: 0;
  padding-top: 2em;
  padding-bottom: 1em;
  color: #b3b3b3 !important;
  /* TODO: Fix centering*/
  text-align: center; }

.license-image {
  border-width: 0;
  max-height: 1.2em;
  vertical-align: middle; }

/* Shortcodes' stylings */
/* About section */
.about-person {
  outline: 2px solid #b3b3b3;
  outline-offset: -10px;
  padding: 80px 30px 30px 30px;
  float: left;
  width: 100%;
  position: relative;
  margin-top: 80px; }

.about-person figure {
  position: absolute;
  margin-top: -60px;
  top: 0;
  left: 50%;
  margin-left: -60px;
  display: block;
  margin-bottom: 50px; }

.about-person figure img {
  width: 120px;
  border: inset 2px solid #b3b3b3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.about-person h3 {
  margin-bottom: 0px; }

.about-person .person-position {
  color: #b3b3b3;
  display: block;
  margin-bottom: 20px; }

/* Carousel section */
#carousel {
  margin: 25px 0px 25px 0px; }

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #eaeaea;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px; }

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%; }

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: #eaeaea;
  border: 4px solid #535353;
  top: 15px;
  border-radius: 50%;
  z-index: 1; }

/* Place the container to the left */
.left {
  left: 0; }

/* Place the container to the right */
.right {
  left: 50%; }

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #eaeaea;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #eaeaea; }

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #eaeaea;
  border-width: 10px 10px 10px 0;
  border-color: transparent #eaeaea transparent transparent; }

/* Fix the circle for containers on the right side */
.right::after {
  left: -12.5px; }

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: #eaeaea;
  position: relative;
  border-radius: 6px; }

.timeline-content img {
  max-width: 100%;
  max-height: 40vh;
  padding: 25px 5px 25px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px; }
  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px; }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%; } }
