[submodule "themes/wiki-theme"]
	path = themes/wiki-theme
	url = https://github.com/Warwick-iGEM-2021/wiki-theme
[submodule "igem-wikisync"]
	path = igem-wikisync
	url = https://github.com/igembitsgoa/igem-wikisync
